
div.card {
  margin-left: auto;
  margin-right: auto;
}

.carousel-inner img {
  margin: auto;
}

.carousel-inner card {
  margin: auto;
}

.modal-footer p {
  text-align: justify;
  font-size: .7rem;
}
