

.modal-footer p {
  text-align: justify;
  font-size: .7rem;
}

img {
  height: auto;
}

#modalLinks {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

#modalButton {
  background-color: #ff0000;
}
