

a.navbar-brand img {
	height: auto;
	width: auto;
	max-width: 100px;
	max-height: 100px;
}

a.navbar-brand{
	color: #F3E0DC;
}

body {
	background-color: #fbe1da;
	font-family: 'Catamaran', sans-serif;
	padding-top: 80px;
}

a.nav-link {
	color: #F3E0DC;
}

#mainNavbar {
  background-color: #5C2018;
}

p {
	color: black;
}

h1 {
	color: #C3073F;
	font-size: 3.5rem;
	font-weight: 300;
	margin-bottom 3px;
}

.navbar-toggle .icon-bar {
	border: 1px solid white;
}

.jumbotron {
	background-color: #BC4639;
	background-image: url("images/HunterPhelpsElliottBarronDwightCalkins_CVARMorganAdamsTMS2018.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-height: 450px;
	height: 450px;
}

p.lead {
	color: #f3E0DC;
	font-weight: 600;
}

h1.display-4 {
	color: #F3E0DC;
	font-weight: 600;
}

.nav-pills .nav-link.active {
 background: red;
}
